# Arquivos compilados e de build
/dist
/tmp
/out-tsc
/bazel-out

# Dependências do Node.js
/node_modules
npm-debug.log
yarn-error.log

# Cache do Angular
/.angular/cache

# Arquivos de IDEs e Editores
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Configurações do VS Code (mantendo as compartilhadas)
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Diversos
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# Arquivos de Sistema
.DS_Store
Thumbs.db
