<div class="card" >
  <p-toolbar >
        <ng-template #start>
            <div class="menu">
                 <img src="/Logo-Transparente-100.png"  alt="">
                  <p-button label="Files" text plain />
                <p-button label="Edit" text plain />
                <p-button label="View" text plain />
            </div>
        </ng-template>

        <ng-template #end>
            <div class="flex items-center gap-2 justify-center">
                <p-button label="Cadastrar" severity="contrast" size="small" />
                <p-button label="Entrar" severity="contrast" size="small" />

            </div>
        </ng-template>
    </p-toolbar>
</div>
