<div id="features" class="Resources">
  <div class="features-container">
    <!-- Título da seção -->
    <div class="text-center">
      <div class="text-surface-900 dark:text-surface-0 font-normal text-4xl">
        Recursos Incríveis
      </div>
      <span class="text-muted-color text-2xl">
        Descubra tudo que o Urban Soccer oferece...
      </span>
    </div>

    <!-- Grid de Cards -->
    <div class="features-grid">
      <!-- Card 1 - Conecte Jogadores -->
      <div class="feature-card">
        <div class="feature-card-content">
          <div class="feature-icon">
            <i class="pi pi-fw pi-globe"></i>
          </div>
          <h5 class="feature-title">Um universo inteiro</h5>
          <span class="feature-description">
            Faça sua própria jornada no mundo do futebol.
          </span>
        </div>
      </div>

      <!-- Card 2 - Fresh Design -->
      <div class="feature-card">
        <div class="feature-card-content">
          <div class="feature-icon">
            <i class="pi pi-fw pi-palette"></i>
          </div>
          <h5 class="feature-title">Fresh Design</h5>
          <span class="feature-description">
            Interface moderna e intuitiva para melhor experiência.
          </span>
        </div>
      </div>

      <!-- Card 3 - Terceiro Recurso -->
      <div class="feature-card">
        <div class="feature-card-content">
          <div class="feature-icon">
            <i class="pi pi-fw pi-microchip"></i>
          </div>
          <h5 class="feature-title">LLM</h5>
          <span class="feature-description">
            Aprendizado de Máquina e IA para melhorar a jogabilidade.
          </span>
        </div>
      </div>

      <!-- Card 3 - Terceiro Recurso -->
    </div>

    <!-- Seção de Depoimento -->
    <div class="testimonial-section">
      <div class="testimonial-content">
        <div class="testimonial-name">João Vitor Oliveira</div>
        <p class="testimonial-text">
          Urban Soccer é um ambicioso projeto que visa criar uma experiência imersiva de RPG de Ação em
           um universo de futebol de rua. Inspirado pela dramaticidade e pelas jogadas fantásticas de animes
           como Super Campeões, o jogo transporta o jogador para a "Cidade do Futebol", uma metrópole vibrante
           onde o esporte é um estilo de vida e as lendas nascem no asfalto.
        </p>
        <div class="testimonial-logos">
          <img
            src="/Logo-Transparente.svg"
            class="testimonial-logo"
            alt="Company logo"
          />
          <img src="/wise_systems_logo.svg" alt="Wise Systems logo"
          class="testimonial-logo"
                />
        </div>
      </div>
    </div>
  </div>
</div>
