:host {
  display: block;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
}

.login-card {
  width: 100%;
  max-width: 400px;
  background-color: var(--roxo-urbano) !important;
  border-radius: 8px;
  border: 1px solid var(--ciano-eletrico);
}

.logo {
  display: block;
  margin: 20px auto;
  width: 150px;
}

label {
  font-family: var(--font-secondary);
  color: var(--cinza-claro);
  margin-bottom: 8px;
  display: block;
}

.p-field {
  margin-bottom: 1.5rem;
}

// Estilo dos inputs do PrimeNG
:host ::ng-deep .p-inputtext {
  background-color: var(--azul-noite) !important;
  border: 1px solid var(--cinza-neutro) !important;
  color: var(--cinza-claro) !important;
}

:host ::ng-deep .p-inputtext:focus {
  border-color: var(--ciano-eletrico) !important;
  box-shadow: 0 0 0 1px var(--ciano-eletrico) !important;
}

// Estilo do botão
.p-button-primary {
  width: 100%;
  font-family: var(--font-primary) !important;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.extra-links {
  margin-top: 1.5rem;
  text-align: center;
  font-family: var(--font-body);

  a {
    color: var(--ciano-eletrico);
    text-decoration: none;
    margin: 0 10px;
    font-size: 0.9rem;

    &:hover {
      text-decoration: underline;
    }
  }
}
